@{
    ViewData["Title"] = "Home Page";
}

    <h1>
        Sample Azure AD B2C using MVC App calling Web API
    </h1>
    <p>
        Secure Page -- calls secure controller in MVC App<br/>
        Template Files -- calls Web API service using Access Token
    </p>
    <br/>
    <h3>
        How to secure a Web API built with ASP.NET Core using the Microsoft identity platform (formerly Azure Active Directory for developers)
    </h3>
    <p>
        This sample shows how to secure a Web API built with ASP.NET Core using the Microsoft identity platform (formerly Azure Active Directory for developers).The client uses OpenID Connect to sign in users. It leverages the ASP.NET Core OpenID Connect middleware
        and MSAL.NET.
    </p>
<img src="https://raw.githubusercontent.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/master/4-WebApp-your-API/ReadmeFiles/topology.png"/>
